.project {
	margin-top: 100px;
}

.description {
	font-size: 20px;
}

body {
	font-family:'Open Sans','Roboto', sans-serif;
}

#list {
	position: fixed;

}

.work {
	font-family: 'Roboto','Open Sans', sans-serif;
	color: #FFC334
}

.navbar {
	background-color: #76767A;
}

.p1 {
	padding-bottom: 70px;
}

.list-group-item {
	background-color: #76767A;
	color: whitesmoke;
}

.email {
	text-align: right;
}